* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

body {
  background: #f9fafb;
  color: #1e293b;
}

header {
  background: #0f172a;
  color: #fff;
  padding: 50px 20px;
  text-align: center;
}

/* PROFILE IMAGE */
.profile {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 15px;
}

header h1 {
  font-size: 2.8rem;
  margin-bottom: 10px;
}

header p {
  font-size: 1.2rem;
  opacity: 0.9;
}

nav {
  margin-top: 15px;
}

nav a {
  color: #fff;
  margin: 0 15px;
  text-decoration: none;
  font-weight: bold;
  transition: 0.3s;
}

nav a:hover {
  color: #38bdf8;
}

/* BUTTONS */
.btns {
  margin-top: 20px;
}

.btns a {
  display: inline-block;
  margin: 10px;
  padding: 10px 15px;
  background: #38bdf8;
  color: #fff;
  border-radius: 6px;
  text-decoration: none;
  font-weight: bold;
}

.btns a:hover {
  background: #0ea5e9;
}

section {
  padding: 60px 20px;
  max-width: 1000px;
  margin: auto;
}

h2 {
  font-size: 2rem;
  margin-bottom: 20px;
  color: #0f172a;
}

.card {
  background: #fff;
  padding: 30px;
  margin-bottom: 30px;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

/* Skills */
.skills ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

.skills li {
  background: #38bdf8;
  color: #fff;
  padding: 10px 20px;
  margin: 8px;
  border-radius: 20px;
  font-weight: bold;
}

/* Projects */
.project {
  margin-bottom: 25px;
}

/* Contact */
.contact {
  text-align: center;
}

.contact-form {
  max-width: 500px;
  margin: auto;
  display: flex;
  flex-direction: column;
}

.contact-form input,
.contact-form textarea {
  padding: 12px;
  margin: 8px 0;
  border: 1px solid #ccc;
  border-radius: 8px;
}

.contact-form button {
  background: #38bdf8;
  color: #fff;
  border: none;
  padding: 12px;
  margin-top: 10px;
  border-radius: 8px;
  cursor: pointer;
}

.contact-form button:hover {
  background: #0ea5e9;
}

footer {
  text-align: center;
  padding: 20px;
  background: #0f172a;
  color: #fff;
}